<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SomerenDatabase"
				 connectionString="Data Source=projectdatabse.database.windows.net;
         Initial Catalog=projectDatabase;
				 User=projectAdmin;
				 Password=project-Database"/>
	</connectionStrings>
</configuration>